<div class="container">
  <mat-card>
    <mat-card-title><h1>Welcome</h1></mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna massa, varius et diam id, gravida fringilla
        orci. Curabitur eu rutrum odio. Nulla ut turpis quis dolor interdum tempus. Lorem ipsum dolor sit amet,
        consectetur
        adipiscing elit. Aliquam nec massa vitae lectus pulvinar laoreet sit amet quis sapien. Proin eu mi rhoncus,
        dapibus
        arcu eget, posuere velit. Quisque non ante hendrerit, efficitur sapien at, pulvinar leo. In hac habitasse platea
        dictumst. Ut eu odio fringilla, sagittis eros sit amet, tincidunt neque. Aenean quis tempor ante. In vehicula,
        odio
        non ultricies blandit, justo leo blandit lectus, vel porttitor purus nibh non nibh. Integer porttitor aliquet
        aliquet.
      </p>
    </mat-card-content>
  </mat-card>
</div>
